/*The Google fonts that I have chosen to use for this projects. Imported from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&display=swap');

/*Animation that zooms in an object and hold it in place*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/*Body styling, including standard font-family, background image etc.*/
body {
    background-image: url(/assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bungee spice', sans-serif;
    color: orange;
    overflow: hidden;
}

/*Box sizing used for grid layout.*/
* {
    box-sizing: border-box;
    margin: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*The heading text*/
.heading {
    width: 100%;
    margin: 5% 0 2% 0;
    padding: 0 10px 0 10px;
    font-size: 40px;
    text-align: center;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/*The game-box where the questions and answers take place.*/
.game-box {
    width: 70%;
    height: fit-content;
    margin: 5% 0 0 15%;
    background-color: rgba(2, 0, 0, 0.5);
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

.questions {
    font-family: 'Bungee spice', sans-serif;
    text-align: center;
    margin-bottom: 5%;
    font-size: 15px;
    padding: 10px;
}

.answers-box {
    width: 70%;
    margin-left: 15%;
}

.button, .start-button {
    width: 70%;
    margin-left: 15%;
    font-family: 'Bungee', sans-serif;
    font-size: 10px;
    margin-bottom: 5%;
    padding: 5px;
    color: orangered;
    background-color: rgb(75, 38, 1);
}

.start-button {
    text-decoration: none;
    width: 70%;
    margin-left: 0 auto;
    font-family: 'Bungee', sans-serif;
    font-size: 20px;
    margin-bottom: 5%;
    padding: 5px;
    color: orangered;
    background-color: rgb(75, 38, 1);
}

.button:hover, .start-button:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.5);
}

.score-box {
    font-size: 15px;
    text-align: center;
    margin-top: 5%;
}

span {
    font-family: 'Bungee', sans-serif;
    color: orange;
}


footer {
    width: 100%;
    text-align: center;
    font-family: 'Bungee', sans-serif;
    color: orangered;
    font-size: 10px;
}

/*Media querys*/
@media only screen and (min-width: 481px) and (max-width: 768px) {

    .questions {
        font-size: 25px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .questions {
        font-size: 25px;
    }

    .button {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    .heading {
        margin-bottom: 8%;
        font-size: 50px;
    }
    .questions {
        font-size: 30px;
    }

    .button {
        font-size: 20px;
    }

}

@media only screen and (min-width: 1201px) {
    .heading {
        margin-bottom: 5%;
        font-size: 50px;
    }

    .questions {
        font-size: 30px;
    }

    .game-box {
        width: 50%;
        margin-left: 25%;
    }

    .button {
        font-size: 20px;
        margin-bottom: 5%;
    }

    .score-box {
        margin-top: 2%;
    }

}