/*The Google fonts that I have chosen to use for this projects. Imported from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&display=swap');

/*Animation that zooms in an object and hold it in place*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/*Body styling, including standard font-family, background image etc.*/
body {
    background-image: url(/assets/images/background.avif);
    height: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bungee spice', sans-serif;
    color: orange;
}

/*Box sizing used for grid layout.*/
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*The heading text*/
.heading {
    width: 100%;
    margin-bottom: 10%;
    font-size: 50px;
    text-align: center;
    overflow: hidden;
}

/*The game-box where the questions and answers take place.*/
.game-box {
    width: 75%;
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: rgba(5, 5, 5, 0.5);
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.questions {
    font-family: 'Bungee', sans-serif;
    text-align: center;
    font-size: 25px;
}

.answers-box {
    width: 75%;
    margin: 0 auto;
}

