/*The Google fonts that I have chosen to use for this projects. Imported from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&display=swap');

/*Animation that zooms in an object and hold it in place*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/*Box sizing used for grid layout to all elements.*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*Body styling, including standard font-family, background image etc.*/
body {
    /*Image is totally free for usage and taken from (https://unsplash.com/photos/Q1p7bh3SHj8)*/
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: 'Bungee spice', sans-serif;
    color: orange;
    overflow: hidden;
}


/*The grid used */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*The heading text*/
.heading {
    width: 100%;
    margin: 5% 0 5% 0;
    padding: 0 15px 0 15px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.heading a {
    text-decoration: none;
}
/*The information text*/
.info-text {
    width: 100%;
    padding: 0 20px 0 20px;
    text-align: center;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/*The game-box where the questions and answers take place.*/
.game-box {
    width: 70%;
    height: fit-content;
    margin: 0 0 0 15%;
    background-color: rgba(2, 0, 0, 0.5);
}

.questions {
    font-family: 'Bungee spice', sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

.answers-box {
    width: 70%;
    margin-left: 15%;
}

/*Styling for the registerbox*/
.reg-box {
    font-family: 'bungee', sans-serif;
    text-align: center;
    width: 70%;
    height: fit-content;
    margin: 5% 0 0 15%;
    color: orangered;
    background-color: rgba(2, 0, 0, 0.5);
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/*The result text*/
#finalScore {
    font-family: 'Bungee spice', sans-serif;
    font-size: 12px;
    margin: 2% 0 2% 0;
    letter-spacing: 1px;
}

/*The email form*/
.form {
    color: black;
    font-size: 15px;
    border: 1px solid orangered;
}

.form:hover {
    border: 2px solid orangered;
}

/*Here starts the styling for the buttons.*/
.button {
    width: 70%;
    margin-left: 15%;
    font-family: 'Bungee', sans-serif;
    font-size: 10px;
    margin-bottom: 5%;
    padding: 5px;
    color: orangered;
    background-color: rgb(75, 38, 1);
    border: 1px solid black;
}

.send-btn {
    font-family: 'Bungee', sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    background-color: rgb(75, 38, 1, 0.5);
    color: orangered;
    border-radius: 2px;
    margin-bottom: 5%;
}

.send-btn:hover {
    cursor: pointer;
    text-decoration: underline 1px red;
    background-color: white;
    color: red;
}

/*The "play again" button*/
.form-btn {
    font-family: 'Bungee spice', sans-serif;
    color: orangered;
    text-decoration: none;
}

.form-btn:hover {
    cursor: pointer;
    text-decoration: underline 1px red;
}

/*Next-button, Start-button and Results-button*/
.nav-btn {
    width: 20%;
    margin: 2% 0 0 40%;
    font-family: 'Bungee', sans-serif;
    font-size: 10px;
    margin-bottom: 5%;
    padding: 5px;
    color: orangered;
    background-color: rgb(75, 38, 1);
    border: 1px solid black;
}

.button:hover,
.nav-btn:hover {
    cursor: pointer;
    border: 1px solid red;
}


/*These styles gets added via Javascript, to show whether the result of your answers are right or wrong*/
.wrong {
    background-color: red;
    color: white;
}

.correct {
    background-color: green;
    color: white;
}


/*Here starts the styling for the score box, which counts your score and questions left.*/
.score-box {
    font-size: 10px;
    text-align: center;
}

.score {
    font-family: 'Bungee', sans-serif;
    color: green;
}

.incorrect {
    font-family: 'Bungee', sans-serif;
    color: red;
}

/*Hides the element with the class.*/
.hide {
    display: none;
}

/*Media querys for responsiveness*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .heading {
        margin-bottom: 10%;
    }

    .hs-box {
        margin-top: 2%;
    }

    .info-text {
        margin-top: 10%;
    }

    .button {
        font-size: 10px;
    }

    .nav-btn {
        font-size: 10px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .heading {
        margin-bottom: 10%;
    }

    .hs-box {
        margin-top: 2%;
    }

    .button {
        font-size: 15px;
    }

    .nav-btn {
        font-size: 15px;
        width: 20%;
        margin: 2% 0 0 40%;
    }

    .questions {
        font-size: 25px;
    }

    .info-text {
        padding: 0 30px 0 30px;
        font-size: 20px;
    }


}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .heading {
        font-size: 50px;
        margin-bottom: 5%;
    }

    #finalScore {
        font-size: 15px;
    }

    .form {
        font-size: 20px;
    }

    .form-btn {
        font-size: 25px;
    }
    
    .send-btn {
        font-size: 15px;
    }

    .questions {
        font-size: 20px;
    }

    .button {
        font-size: 15px;
    }

    .nav-btn {
        font-size: 15px;
        width: 10%;
        margin: 2% 0 0 45%;
    }

    .info-text {
        padding: 0 50px 0 50px;
        font-size: 25px;
    }

    .score-box {
        font-size: 10px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    .heading {
        font-size: 50px;
    }

    #finalScore {
        font-size: 20px;
    }

    .form {
        font-size: 20px;
    }

    .form-btn {
        font-size: 25px;
    }
    
    .send-btn {
        font-size: 13px;
    }


    .questions {
        font-size: 30px;
    }

    .button {
        font-size: 20px;
    }

    .nav-btn {
        font-size: 20px;
        width: 10%;
        margin-left: 45%;
    }

    .info-text {
        padding: 0 50px 0 50px;
        font-size: 25px;
    }

    .score-box {
        font-size: 15px;
    }

}

@media only screen and (min-width: 1201px) {
    .heading {
        margin: 2% 0 5% 0;
        font-size: 50px;
    }

    #finalScore {
        font-size: 20px;
    }

    .form{
        font-size: 20px;
    }

    .form-btn {
        font-size: 25px;
    }
    
    .send-btn {
        font-size: 13px;
    }

    .questions {
        font-size: 30px;
    }

    .game-box {
        width: 50%;
        margin-left: 25%;
    }

    .button {
        font-size: 20px;
    }

    .nav-btn {
        font-size: 20px;
        width: 10%;
        margin-left: 45%;
    }


    .info-text {
        font-size: 30px;
        padding: 0 100px 0 100px;
    }

    .score-box {
        margin-top: 2%;
        font-size: 15px;
    }

}